<!DOCTYPE html>
<html lang="en">
<head>
    <title>Grocery Store a Ecommerce Online Shopping Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Grocery Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
    Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    {% include 'blocks/style.html' %}
</head>
<body>
    {% include 'blocks/header.html' %}
    <!-- products-breadcrumb -->
    {%- macro breadcrumbs(breadcrumb) -%}
    <div class="products-breadcrumb">
        <div class="container">
          <ul>
            <li><i class="fa fa-home" aria-hidden="true"></i><a href="index.html">Home</a><span>|</span></li>
            <li>{{breadcrumb}}</li>
          </ul>
        </div>
    </div>
    {%- endmacro %}
    {{ breadcrumbs(breadcrumb) }}
    <!-- //products-breadcrumb -->
    <div class="banner">
        {% include 'blocks/navbar.html' %}
        <div class="w3l_banner_nav_right">
            {% block content %}{% endblock %}
        </div>
        <div class="clearfix"></div>
    </div>
    {% block bannerbottom %}{% endblock %}

    {% block subcontent %}{% endblock %}

    {% include 'blocks/footer.html' %}
    {% include 'blocks/script.html' %}
</body>
</html>